   {% load static %}
{% load store_tags %}
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Підписатись на <strong>НОВИНИ</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Підписатись</button>
                        </form>
                        <ul class="newsletter-follow">
<!--                            <li>-->
<!--                                <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"><i class="fa fa-instagram"></i></a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"><i class="fa fa-pinterest"></i></a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
<!--     /NEWSLETTER-->
<!--     FOOTER-->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Про нас</h3>
                            <h3>GPStrace</h3>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>Львів</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+38(096)1864719</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>andriyav@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Категорії</h3>
                            <ul class="footer-links">
                                <li>{% get_categories %}</li>
<!--                                <li><a href="#">Hot deals</a></li>-->
<!--                                <li><a href="#">Laptops</a></li>-->
<!--                                <li><a href="#">Smartphones</a></li>-->
<!--                                <li><a href="#">Cameras</a></li>-->
<!--                                <li><a href="#">Accessories</a></li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Інформація</h3>
                            <ul class="footer-links">
                                <li><a href="{% url 'about' %}">Про нас</a></li>
                                <li><a href="#">Контакти</a></li>
                                <li><a href="{% url 'delivery' %}">Доставка</a></li>
                                <li><a href="{% url 'payment' %}">Оплата</a></li>
                                <li><a href="{% url 'return_terms' %}">Умови повернення</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Сервіси</h3>
                            <ul class="footer-links">
                                <li><a href="{% url "account:login" %}">Обліковий запис</a></li>
                                <li><a href="{% url 'cart' %}">Корзина</a></li>
<!--                                <li><a href="#">Відмічене</a></li>-->
<!--                                <li><a href="#">Track My Order</a></li>-->
<!--                                <li><a href="#">Help</a></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
                                class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                                                                                    target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->