{% extends 'store/store.html' %}
{% block content %}
                <div class="row">
                    <!-- product -->
                    {% for item in items %}
                    <div class="col-md-4 col-xs-6">
                        <a href="{{item.get_absolute_url}}">
                            <div class="product">
                                <div class="product-img">
                                    {% if item.photo %}
                                    <img src="{{ item.photo.url }}" alt="">
                                    {% endif %}
                                    <div class="product-label">
                                        {% if item.discount %}
                                        <span class="sale">Знижка {{item.discount}}%</span>
                                        {% endif %}
                                        {% if item.label %}
                                        <span class="new">{{item.label}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">{{item.cat}}</p>
                                    <h3 class="product-name"><a href='{{item.get_absolute_url}}'>{{item.title}}</a></h3>
                                    {% if item.discount %}
                                    <h4 class="product-price">{{item.discount_price_calculation | floatformat:2}} грн
                                        <del class="product-old-price">{{item.price}} грн</del>
                                    </h4>
                                    {% else %}
                                    <h4 class="product-price">{{item.price}} грн </h4>
                                    {% endif %}

                                </div>
                                <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart
                                    </button>
                                </div>
                            </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix visible-sm visible-xs"></div>
                    <!-- /p roduct -->
                </div>
{% endblock %}