<form action="">
    <div class="aside">
        <h4>Батарея</h4>
        <br>
        <div class="checkbox-filter">
            <div data-id=1>
                {% for item in battery_viewed %}
                <div class="input-checkbox">
                    <input type="checkbox" id={{item}} name={{item}} onchange="javascript:
                               if(this.key != '0') this.form.submit();" {% if item in bat_name %}} checked {% endif %}>
                    <label for={{item}}>
                        <span></span>
                        {{item}} мАгод
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>