{% load static %}
{% include "store/navbar.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Electro - HTML Ecommerce Template</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
 		<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

    </head>

<body>
<br>
    <div class="container" style="max-width: 1000px">
        <div class="col-12">

			<h3> Повернення та обмін </h3>

<p>Компанія здійснює повернення та обмін товарів належної якості згідно Закону «Про захист прав споживачів».</p>
			<h4>Строки повернення і обміну</h4>

<p>Повернення та обмін товарів можливий протягом 14 днів після отримання товару покупцем.</p>

			<p>Зворотня доставка товарів здійснюється за домовленістю.</p>
			<h4>Умови повернення для товарів належної якості</h4>

			<p>Гаратнійний термін - 3 місяці.</p>
			<p>Згідно із законом України "Про захист прав споживачів" від 13.01.2006 р., якщо з будь-якої причини товар Вам не підійшов, Ви можете обміняти його або повернути протягом 14 днів з моменту оплати товару. Товар повинен бути без ознак використання та із оригінальною упаковкою. Для повернення виробу вишліть його нам на зворотню адресу, попередньо повідомивши нам причину повернення. Кошти за товар будуть повернені Вам після отримання нами виробу і підтвердження його цілісності. Кошти за виріб будуть повернені Вам протягом 14 днів на вказаний Вами рахунок.</p>

<p>Згідно із Законом  <a href="https://zakon.rada.gov.ua/laws/show/1023-12#Text">«Про захист прав споживачів»</a>, компанія може відмовити споживачеві в обміні та поверненні товарів належної якості, якщо вони відносяться до категорій, що зазначені у чинному <a href="https://zakon.rada.gov.ua/laws/show/172-94-%D0%BF#Text">«Переліку непродовольчих товарів належної якості, не підлягають поверненню та обміну.»</a></p>

        </div>
    </div>
</body>
{% include "store/footer.html" %}
</body>
</html>